{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>
            用户名或密码不符。请再试一次。
        </p>
    {% else %}
<p>填写下面的表单登录。如果还没有账户，请再这里<a href="{% url 'register' %}">注册</a>。</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="登录"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">忘记密码了？</a></p>
    </div>
{% endblock %}